[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
versioneer = "*"
black = "==19.10b0"
flake8 = "*"
sphinx = "*"
pydata-sphinx-theme = "*"
twine = "*"
coverage = "*"
pytest-cov = "*"
iexcloud = {editable = true, path = "."}

[packages]
pandas = "*"
requests = "*"

[requires]
python_version = "3.8"
